h1 {
  color: blue;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0 0;
  color: #813750;
}

h1 {
  font-size: 80px;
  font-weight: 600;
  margin: 30px 0 10px;
  color: #813750;
  line-height: 10px;
}

h2 {
  font-size: 30px;
  font-weight: 500;
}

button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  color: grey;
  border: none;
  border-radius: 1mm;
  background-color: #ffe29f;
  padding: 6px 12px;
}

.search {
  display: block;
  margin: 0 0 20px 0;
  right: 30px;
  text-align: left;
  width: 200px;
  background: #ffe29f;
  border: #ffa99f;
}

.card-body {
  margin: 50px 300px 10px;
  max-width: 740px;
  padding: 30px 20px;
  background-image: linear-gradient(
    -225deg,
    #ffe29f 0%,
    #ffa99f 48%,
    #ff719a 100%
  );
}

.container {
  margin: 0 auto;
  padding: 30px;
  max-width: 600px;
}

.forecast {
  margin: 20px 0;
}

.temperatures {
  margin: 20px 0;
}

.weather-prediction {
  font-size: 12px;
}

.forecast-title {
  text-align: left;
  padding: 0;
  margin: 20px auto;
  font-weight: 800;
}

.weather-details {
  font-weight: 800;
  text-transform: capitalize;
}

#day-hour {
  margin-bottom: 30px;
}

#footer {
  font-size: 10px;
  margin: 0 300px;
}
